<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicacion Django</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="{% url 'home' %}">Inicio</a>
            </li>
            
            {% if user.is_authenticated %}
            <li>
                <a href="{% url 'tareas' %}">Tareas Pendientes</a>
            </li>
            <li>
                <a href="{% url 'listareascompletas' %}">Tareas Completadas</a>
            </li>
            <li>
                <a href="{% url 'creartareas' %}">Crear Tareas</a>
            </li>
            <li>
                <a href="{% url 'cerrarsesion' %}">Cerrar Sesion</a>
            </li>
            {% else %}
            <li>
                <a href="{% url 'iniciarsesion' %}">Iniciar Sesion</a>
            </li>
            <li>
                <a href="{% url 'registrar' %}">Registrase</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>